# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
myenv/
venv/
.env

# Database
*.db

# IDE
.vscode/
.idea/

# Logs
*.log

# Node
node_modules/

# Build
dist/
build/

# OS
.DS_Store
Thumbs.db